$n-a: rgb(169,232,167); // 
$n-a: rgb(101,209,111); // 
$n-a: rgb(68,183,87); // 
$n-a: rgb(36,107,78); // 
$n-a: rgb(10,56,42); // 
$n-a: rgb(244,166,196); // 
$n-a: rgb(239,101,157); // 
$n-a: rgb(210,4,74); // 
$n-a: rgb(164,7,63); // 
$n-a: rgb(95,13,48); // 
$n-a: rgb(192,179,248); // 
$n-a: rgb(156,133,255); // 
$n-a: rgb(134,97,245); // 
$vctoria: rgb(83,65,153); // Vctoria
$n-a: rgb(15,15,107); // 
$n-a: rgb(255,169,110); // 
$n-a: rgb(252,133,53); // 
$n-a: rgb(229,104,19); // 
$n-a: rgb(181,76,4); // 
$n-a: rgb(132,39,11); // 